body{
    margin: 0px;
    padding: 0px;
}





/******************* Login  *************************/

.Login{
    display: flex;

}

.left-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 100vh;
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
}

.left-login i{
    font-size: 250px;
    z-index: 1;
    color: white;
}


.right-login{
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
   
}

.icon{
    margin-top: 100px;
}

.icon i{
    font-size: 100px;
}


.field{
    margin-bottom: 45px;
}


.field input{
    padding: 10px;
    width: 25vw;
    border-radius: 10px;
    font-size: 20px;
}

form{
    margin-top: 100px;
}

.field button{
    padding: 10px;
   width: 25vw;
   color: white;
   font-size: 20px;
   border-radius: 10px;
   background-color: lightgrey;
   margin-top: 100px;
   font-weight: 600;
}

.field button:hover{
    cursor: pointer;
}

.error-login{
    position: relative;
    color: red;
    bottom: 30px;
}